.list {
  display: flex;
  justify-content: space-between;
}

.icon {
  transition: transform 0.12s ease;
  transform: scale(1.0, 1.0);
}

.button {
  @include resetButton;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;

  &:hover {
    .icon {
      transform: scale(1.1, 1.1);
    }
  }

  &:focus-visible {
    outline: 2px solid hsl(var(--ft-color-outline) / 100%);
  }
}
