.list {
  display: flex;
  justify-content: space-between;
}

.icon {
  transition: transform 0.12s ease;
  transform: scale(1.0, 1.0);

  @media (prefers-reduced-motion: reduce) {
    transition: none;
  }
}

.filled {
  color: var(--_color-star);
}

.button {
  @include buttonResetStyle;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  color: var(--_color-outline);

  @include pointActive {
    .icon {
      transform: scale(1.1, 1.1);
    }
  }

  &:focus-visible {
    outline: 2px solid var(--_color-outline);
  }
}
