.base {
  position: fixed;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-height: calc(100vh - 48px);
  border-radius: 8px;
  box-shadow: 0 0 10px var(--ft-shadow-color);
  transform-origin: 50% 100%;
  background-color: var(--ft-color-bg);
}

.animated {
  opacity: 0;
  animation: fadeForward 0.12s ease-in-out forwards;
}

@keyframes fadeForward {
  from {
    opacity: 0;
    transform: translateY(8px) scale(0.92, 0.92);
  }

  to {
    opacity: 1;
    transform: translateY(0) scale(1, 1);
  }
}

.topLeft {
  top: 24px;
  left: 24px;
}

.top {
  top: 24px;
}

.topRight {
  top: 24px;
  right: 24px;
}

.right {
  top: 50%;
  transform: translateY(-50%);
  right: 24px;
}

.bottomRight {
  bottom: 24px;
  right: 24px;
}

.bottom {
  bottom: 24px;
}

.bottomLeft {
  bottom: 24px;
  left: 24px;
}

.left {
  left: 24px;
}

.content {
  position: relative;
  padding: 24px;
}

.close {
  @include resetButton;

  top: 24px;
  right: 24px;
  position: absolute;
  width: 24px;
  height: 24px;
  color: #98A2B3;
  transition: color 0.15s;

  &:hover {
    color: var(--ft-color-text);
  }

  &::before,
  &::after {
    position: absolute;
    top: 50%;
    left: 50%;
    content: '';
    background-color: currentcolor;
    border-radius: 1px;
    transform: rotate(45deg);
  }

  &::before {
    margin: -1px 0 0 -8px;
    width: 16px;
    height: 2px;
  }

  &::after {
    margin: -8px 0 0 -1px;
    width: 2px;
    height: 16px;
  }
}
