@use '../../styles/variables' as *;

.base {
  --ft-popup-head-offset: 32px;

  position: fixed;
  z-index: var(--ft-popup-z-index);
  margin: 0;
  display: flex;
  box-sizing: border-box;
  max-width: calc(100vw - var(--ft-surface-padding) * 2);
  max-height: calc(100vh - var(--ft-surface-padding) * 2);
  transform-origin: 50% 100%;

  @media (max-width: $breakpoint-xs) {
    max-width: calc(100vw - var(--ft-surface-padding-mobile) * 2);
    max-height: calc(100vh - var(--ft-surface-padding-mobile) * 2);
  }
}

.animated {
  opacity: 0;
  animation: fadeForward 0.12s ease-in-out forwards;
}

@keyframes fadeForward {
  from {
    opacity: 0;
    transform: translateY(8px) scale(0.92, 0.92);
  }

  to {
    opacity: 1;
    transform: translateY(0) scale(1, 1);
  }
}

.topLeft {
  top: var(--ft-surface-padding);
  left: var(--ft-surface-padding);

  @media (max-width: $breakpoint-xs) {
    top: var(--ft-surface-padding-mobile);
    left: var(--ft-surface-padding-mobile);
  }
}

.topRight {
  top: var(--ft-surface-padding);
  right: var(--ft-surface-padding);

  @media (max-width: $breakpoint-xs) {
    top: var(--ft-surface-padding-mobile);
    right: var(--ft-surface-padding-mobile);
  }
}

.bottomRight {
  right: var(--ft-surface-padding);
  bottom: var(--ft-surface-padding);

  @media (max-width: $breakpoint-xs) {
    right: var(--ft-surface-padding-mobile);
    bottom: var(--ft-surface-padding-mobile);
  }
}

.bottomLeft {
  bottom: var(--ft-surface-padding);
  left: var(--ft-surface-padding);

  @media (max-width: $breakpoint-xs) {
    bottom: var(--ft-surface-padding-mobile);
    left: var(--ft-surface-padding-mobile);
  }
}

.close {
  @include resetButton;

  position: absolute;
  top: var(--ft-surface-padding);
  width: 24px;
  height: 24px;
  color: hsl(var(--ft-color-outline) / 100%);
  transition: color 0.15s;
  inset-inline-end: var(--ft-surface-padding);

  &:hover {
    color: hsl(var(--ft-color-text) / 100%);
  }

  &::before,
  &::after {
    position: absolute;
    top: 50%;
    left: 50%;
    content: '';
    background-color: currentcolor;
    border-radius: 1px;
    transform: rotate(45deg);
  }

  &::before {
    margin: -1px 0 0 -8px;
    width: 16px;
    height: 2px;
  }

  &::after {
    margin: -8px 0 0 -1px;
    width: 2px;
    height: 16px;
  }

  @media (max-width: $breakpoint-xs) {
    top: var(--ft-surface-padding-mobile);
    inset-inline-end: var(--ft-surface-padding-mobile);
  }
}
