:root,
:host {
  --ft-color-text: #272522;
  --ft-color-bg: #FFF;
  --ft-color-muted: #667085;
  --ft-control-bg: #F2F4F7;
  --ft-shadow-color: rgb(0 0 0 / 20%);
}

body {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
