.root {
  margin: 0;
  box-sizing: border-box;
  max-height: calc(100vh - 50px);
  padding: 0;
  overflow: auto;
  font-family: 'Helvetica Neue', 'Arial Nova', Helvetica, Arial, sans-serif;
  color: var(--ft-color-text);
  background-color: var(--ft-color-bg);
  border-radius: 8px;
  box-shadow: 0 0 10px var(--ft-shadow-color);
  transform-origin: 50% 100%;

  *:not(svg *) {
    box-sizing: border-box;
  }
}

.head {
  display: flex;
  gap: 8px;
  padding: 24px 24px 24px 20px;
}

.title {
  flex: 1 0;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  line-height: 1.4;
}

.body {
  padding: 0 0 24px;
}

.close {
  @include resetButton;

  position: relative;
  width: 24px;
  height: 24px;
  color: #98A2B3;
  transition: color 0.15s;

  &:hover {
    color: var(--ft-color-text);
  }

  &::before,
  &::after {
    position: absolute;
    top: 50%;
    left: 50%;
    content: '';
    background-color: currentcolor;
    border-radius: 1px;
    transform: rotate(45deg);
  }

  &::before {
    margin: -1px 0 0 -8px;
    width: 16px;
    height: 2px;
  }

  &::after {
    margin: -8px 0 0 -1px;
    width: 2px;
    height: 16px;
  }
}

.animated {
  opacity: 0;
  animation: fadeForward 0.12s ease-in-out forwards;
}

@keyframes fadeForward {
  from {
    opacity: 0;
    transform: translateY(8px) scale(0.92, 0.92);
  }

  to {
    opacity: 1;
    transform: translateY(0) scale(1, 1);
  }
}
