.base {
  margin: 12px 0 0;
  display: flex;
  justify-content: space-between;
}

.label {
  flex: 0 0 50%;
  max-width: 50%;
  font-size: 14px;
  line-height: 1.4286;
  color: hsl(var(--ft-color-muted) / 100%);

  &:first-child {
    text-align: start;
  }

  &:last-child {
    text-align: end;
  }
}
