@use '../../styles/variables' as *;

.base {
  max-width: 100%;
}

.rating {
  width: 520px;

  @media (max-width: $breakpoint-sm) {
    width: 320px;
  }

  @media (max-width: $breakpoint-xs) {
    width: 100%;
  }
}

.feedback,
.success {
  width: 280px;

  @media (max-width: $breakpoint-sm) {
    width: 100%;
  }
}
