.list {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.icon {
  transition: transform 0.12s ease;
  transform: scale(1.0, 1.0);
}

.button {
  @include resetButton;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 56px;
  background-color: hsl(var(--ft-color-control) / 100%);
  border-radius: 50%;

  @media (max-width: 400px) {
    width: 48px;
    height: 48px;
  }

  &:hover {
    .icon {
      transform: scale(1.15, 1.15);
    }
  }

  &:focus-visible {
    outline: 2px solid hsl(var(--ft-color-outline) / 100%);
  }
}

.labels {

}
