@use '../../styles/variables' as *;

.base {
  @include themeVariables;

  position: relative;
  display: block;
  padding: var(--_surface-padding);
  overflow: auto;
  font-family: var(--_font-family);
  color: var(--_color-text);
  background-color: var(--_color-bg);
  border-radius: var(--_surface-radius);
  box-shadow: var(--_surface-shadow);

  @media (max-width: $breakpoint-xs) {
    padding: var(--_surface-padding-mobile);
  }
}
