@use '../../styles/variables' as *;

.base {
  position: relative;
  display: inline-block;
  padding: var(--ft-surface-padding);
  overflow: auto;
  background-color: hsl(var(--ft-color-bg) / 100%);
  border-radius: 8px;
  box-shadow: 0 0 10px hsl(var(--ft-color-shadow) / 20%);

  @media (max-width: $breakpoint-xs) {
    padding: var(--ft-surface-padding-mobile);
  }
}
